.App{
  background-color: #e2e2e6;
}
.AppDiv{
  margin:50px 50px 50px 50px;
}
.rating {
  font-size: 24px; 
  color: gold;
}
.star {
  display: inline-block;

}

.empty-star {
  display: inline-block;
  color: #ccc; 
}