@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eaeaea !important;
}

.rating {
  font-size: 20px; 
  color: gold;
}
.star {
  display: inline-block;

}

.empty-star {
  display: inline-block;
  color: #ccc; 
}
.RatingCard{
  background-color: #fff;
}
.noOfReviews{
  font-size: 12px;
  margin: -32px 0px 0px 86px;
}
.original-price {
  text-decoration: line-through;
  color: #999; 
  margin: 0px 0px 0px 0px !important;
}

.discounted-price {
  color: #645deb;
  margin: 0px 0px 0px 9px !important;
}
.productViewProduct{
  background-color: #645deb !important;
  width: 130px;
  height: 35px;
}
.productCard{
  width: 110px;
  height: 35px;
  background-color: #fff;
}
.productTitle{
  font-size: 12px;
  font-weight: 150%;
  inline-size: 130px;
  margin: 0px 0px 0px 0px;
  /* background-color: red; */
}
.productViewProduct{
  opacity: 70%;
  height: 30px;
  position: absolute;
  margin: -34px 0px 0px 0px;
}
.productViewProductTitle{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 400;
  margin: 4px 0px 0px 0px;
}
.productViewProduct {
  display: none;
}

/* When hovering over the .shape element, display the .block element */
.productImage:hover + .productViewProduct{
  display: block;
}
.FavBtn{
  margin: -170px 10px 135px 90px;
}
.horizontal-view {
  margin: 0rem 0rem 0rem 0rem;
  background-color: red;
  height: 700px;
  width: 100%;
  
}
.horizontal-view::-webkit-scrollbar {
  height: 0;
  visibility: hidden;
}
.latestTrends{
  background-color: #fff;
  justify-content: center;
  width: 790px;
  height: 400px;
}

.product-list {
  width: 800px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  display: flex;
}
.LatestTrends{
  margin: 10px 0px 0px 10px;
}
.PopularSuggestion{
  margin: 115px 0px 5px 10px;

}
.SearchBarInput{
  margin: 10px 0px 0px 200px;
}
.popuptrendcard{
  margin: 10px 0px 0px 75px;
  position: absolute;
}
.searchResultSearchBar{
  margin: 10px 0px 0px 500px;
}
.popularSuggestion{
  margin: 0px 0px 0px 10px;
}
.searchResultTitle{
  margin: 0px 0px 0px 10px;
}

.product-card {
  margin-right: 20px;
}
.searchPage{
  height: 100vh; 
  width: 100%; 
  background-image: url('https://images.pexels.com/photos/1884583/pexels-photo-1884583.jpeg?auto=compress&cs=tinysrgb&w=1540')
}
.Main {
  height: 100%;
  width: 100%;
}
.SearchBar{
  margin: 0px 10px 10px 250px;
  padding: 90px 100px 225px 10px;
}